.top-menu{
    background-color: white;
    width: 110%;
    height: 98px;
    position: fixed;
    overflow: hidden;
    margin-top: -110px;
    margin-left: -10px;
    z-index: 1;
    transform: scaleY(1);
    padding: 0;
}
.animation-menu{
    transition: transform 0.25s ease-in-out;
}
.menu-logo{
    margin-top: 3px;
    margin-left: 2%;
    height: 90px;
    width: auto;
}
#company{
    position: fixed;
    font-size: 3ch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 5%;
    margin-top: 38px;
    text-decoration: none;
    color: #007cc3;
}
#news{
    position: fixed;
    font-size: 3ch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 19.5%;
    margin-top: 38px;
    text-decoration: none;
    color: #007cc3;
}
#mapp{
    position: fixed;
    font-size: 3ch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 31%;
    margin-top: 38px;
    text-decoration: none;
    color: #007cc3;
}
#products{
    position: fixed;
    font-size: 3ch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 44.5%;
    margin-top: 38px;
    text-decoration: none;
    color: #007cc3;
}
#service{
    position: fixed;
    font-size: 3ch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 58.3%;
    margin-top: 38px;
    text-decoration: none;
    color: #007cc3;
}
#products:hover{
    color: #75c5f0;
}
#service:hover{
    color: #75c5f0;
}
#company:hover{
    color: #75c5f0;
}
#news:hover{
    color: #75c5f0;
}
#map:hover{
    color: #75c5f0;
}
#company-body{
    background-color: rgba(141,208,236,0.5);
}
#body{
    background-color: rgba(141,208,236,0.5);
}
::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #efbc00;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255,199,0,0.45);
}
::-webkit-scrollbar{
    width: 7px;
}
.hr2{
    margin-bottom: auto;
    width: 80%;
    background-color: #efbc00;
    margin-left: 10%;
    margin-top: 20px;
}
#aukLine{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 13%;
    margin-top: 5px;
}
#aukLineText{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 13%;
    padding: 0 0 10px 0;
}
#azsLine{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 35%;
    margin-top: -48.5px;
}
#azsLineText{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 35%;
    padding: 0 0 10px 0;
}
#faks{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 61.5%;
    margin-top: -48.5px;
}
#faksText{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 61.5%;
    padding: 0 0 10px 0;
}
#mail{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 75%;
    margin-top: -48.5px;
}
#mailText{
    font-size: 2ch;
    font-family: Calibri, sans-serif;
    color: black;
    margin-left: 75%;
    padding: 0 0 10px 0;
}
#body{
    background-color: rgba(141,208,236,0.5);
}
.header{
    font-family: Calibri, sans-serif;
    font-size: 4ch;
    margin-left: 43%;
    margin-top: 110px;
    white-space: pre-wrap;
    font-weight: bold;
}
#m_text{
    width: 105ch;
    font-family: Calibri, sans-serif;
    font-size: 2.5ch;
    margin-left: 9%;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
    text-indent: 3%;
}
#filter{
    min-height: 200px;
    height: auto;
    padding: 15px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #75c5f0;
    color: black;
    width: 90%;
    font-family: Calibri, sans-serif;
}
.sub{
    color: black;
    height: 32px;
    width: 190px;
    outline: none;
    text-decoration: none;
    padding: .5em 2em;
    border-style: none;
    border-radius: 6px;
    background: linear-gradient(white, #74b1cc) #8dd0ec;
    transition: 0.2s;
}
.sub:hover {
    cursor: pointer;
    background:linear-gradient(white, #deeeef) #9fabac;
}
#map{
    margin-left: auto;
    margin-right: auto;
    width: 92.5%;
    height: 500px;
}