<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link href="css/company.css" rel="stylesheet">
    <script src="js/menuScroll.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/5by7" type="text/css"/>
<body id="company-body">
<div class="top-menu animation-menu" id="menu" >
    <a href="/company"><img class="menu-logo" src="media/logo.png" alt="Логотип компании"></a>
    <a id="company" href="/company">О компании</a>
    <a id="news" th:href="@{/news(year=${#calendars.format(#calendars.createNow(), 'YYYY')}, month='null')}">Новости</a>
    <a id="map" href="/map">Карта АЗС</a>
    <a id="products" href="/products">Продукция</a>
    <a id="service" href="/service">Услуги</a>
</div>
    <div style="display:inline-block;" class="about-company">Наша компания</div>
    <pre class="text-company" th:text="${companyText}"></pre>
    <table class="fuel-table">
        <caption class="up"><img src="media/logo.png" alt="Логотип компании" id="caption"></caption>
        <tbody>
        <tr th:each="f:${fuel}">
            <td id="td1" th:text="${f.name_fuel}"></td>
            <td id="td2" th:text="${f.price_fuel}"></td>
        </tr>
        </tbody>
        <caption class="lastcap">
            <img src="media/cafe.png" alt="Кафе" id="cafe">
            <img src="media/people.png" alt="Для всех" id="people">
            <img src="media/24.png" alt="Круглосуточно" id="time">
        </caption>
    </table>
<hr>
<div id="aukLine">8 800 906 74 07</div>
<div id="aukLineText">Горячая линия для акционеров</div>
<div id="azsLine">8 800 900 41 57</div>
<div id="azsLineText">Горячая линия службы поддержки АЗС</div>
<div id="faks">7-095-333-3333</div>
<div id="faksText">Факс</div>
<div id="mail">SamaraAZS@gmail.com</div>
<div id="mailText">Контактная почта</div>
<a id="admin" href="/admin-company">Войти как администратор</a>
</body>
</html>